@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;

}

.explore-container {
  padding: 0 20px;

} 

.service-item {
  flex: 1;
  text-align: center;
  min-width: 300px; 
  margin-top: 20px;
  margin-bottom: 3rem;
  margin-right: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 450ms;
}

.service-item:hover {
  transform: scale(1.05);
}

.clip-triangle {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.hero-title {
  @apply  font-semibold  text-gray-100 opacity-0 max-md:mb-10
}
.active {
  background: #7E22CE;
}


@media (max-width: 768px) {
  .explore-container {
   padding: 0 10px;
  
  }
  .service-item {
    margin-right: 0px;
  }
 }



